In [1]:
print('hello')

hello

In [ ]:
a = 10
b10 = 'Hello'
_a = -20

In [3]:
print(a,b10,_a)

10 Hello -20

In [4]:
import keyword

print(keyword.kwlist,len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'] 35

In [5]:
a = 10
b = 20

a,b = 10,20

In [6]:
print(a,b)

10 20

In [7]:
a = 10 + 20 + \
    30 + 40 + \
    50
print(a)

150

In [8]:
print(type(a))

<class 'int'>

In [9]:
b = 'Hello'
print(type(b))

<class 'str'>

In [10]:
id(a)

140727541896776

Data Types:-
                     Text Type:	str
                     Numeric Types:	int, float, complex
                     Sequence Types:	list, tuple, range
                     Mapping Type:	dict
                     Set Types:	set, frozenset
                     Boolean Type:	bool
                     Binary Types:	bytes, bytearray, memoryview
                     None Type:	NoneType

TYPE CONVERSION:----

In [11]:
a = 1000000000000000000000000000000000000000000000000
b = 10.3
c = 2 + 5j
print(a,type(a))
print(b,type(b))
print(c,type(c))

1000000000000000000000000000000000000000000000000 <class 'int'>
10.3 <class 'float'>
(2+5j) <class 'complex'>

In [12]:
l = [1,2,3,4]
print(l,type(l))

[1, 2, 3, 4] <class 'list'>

In [13]:
b = True
print(b,type(b))

True <class 'bool'>

In [14]:

a = None
print(a,type(a))

None <class 'NoneType'>

In [ ]:
a = '10abc'
b = int(a)  # 10abc is not a number
print(b)

ValueError: invalid literal for int() with base 10: '10abc'

OPERATORS:-

Types of Operators
Airthmetic: +, -, *, /, %, //, **
relational: ==, <=, <, >=, >, !=
logical: and, or, not
Bitwise: &, |, ~, ^, <<, >>
Assignment: =, +=, -= ...
Special: is, is not, in, not in

In [ ]:
a = 10
b = 120
c = a+b
print(c)
print(a+b)
print(a-b)
print(a*b)
print(a/b) # float division
print(a//b) # integer division
print(a%b)
print(a**b)

130
130
-110
1200
0.08333333333333333
0
10
1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [17]:
a = 10
b = 20
a >= b

False

In [18]:
c = a <= b
print(c)

True

In [19]:
x = 1
y = 10
a = x < y
b = False
print(a and b)
print(a or b)

False
True

In [20]:
x < y or x == y

True

In [21]:
a = 10
a -= 10
a

0

In [ ]:
a = 1000
b = a
print(id(a) == id(b))

#a = 1000 assigns the value 1000 to variable a.

# b = a makes b reference the same object as a.

# id(a) and id(b) return the memory addresses (object IDs) of the variables.

# Since b is directly assigned from a, they both point to the same object in memory, so id(a) == id(b) is True.

True

In [25]:
a = 10
print(float(a))

10.0

In [27]:
p = input("Enter Principal: ")
p = int(p)
print(p,type(p))

10 <class 'int'>

In [ ]:
# calculating simple intrest :-

p = int(input("Enter Principal: "))
r = float(input("Enter Rate: "))
y = int(input("Enter Year: "))

si = (p*r*y)/100
print("Simple Interest: "+str(si))

Simple Interest: 100.0

IfElse:-

if .. else
if .. elif .... else
Nested if
Indentation Input from user

In [29]:
a = 21
print("Hi")
if a%2 == 0:
  print("Number is even")
  print("Hello World")
else:
    print('Odd Number')
print("Bye")

Hi
Odd Number
Bye

In [30]:
age = 15
if age < 18:
    print("child")
else:
    if age < 60:
        print("adult")
    else:
        print("Senior Citizen")

child

In [31]:
marks = 100
if 80 <= marks and marks <= 100:
    print('A')
elif 60 <= marks and marks < 80:
    print('B')
elif 40 <= marks and marks < 60:
    print('C')
elif 0 <= marks and marks < 40:
    print('Fail')
else:
    print('Not Valid')

A

In [32]:
marks = 10
if 80 <= marks <= 100:
    print('A')
elif 60 <= marks < 80:
    print('B')
elif 40 <= marks < 60:
    print('C')
elif 0 <= marks < 40:
    print('Fail')
else:
    print('Not Valid')

Fail

Ternary Operator:-

Syntax:
First_val if condn else second_val

In [34]:
age = 20
c = 'Adult' if age >= 18 else 'Child'
print(c)

Adult

while loop:-

To iterate over a block of code as long as the test expression is true.
Syntax:
while testExp:
Body
else:
After testExp is false

In [35]:

i=0
while i<5:
    print('HELLO')
    i+=1

HELLO
HELLO
HELLO
HELLO
HELLO

In [ ]:
# calculating sum of N digits

i=0
N=0
while(i<=5):
    N+=i
    i+=1
print("sum :" ,N)

sum : 15

In [ ]:
# printing and calculating odd number and their sum
n = 0
sumS = 0
while n < 5:
    ele = 2*n+3
    sumS += ele
    print(ele)
    n+=1

print("Sum:",sumS)

3
5
7
9
11
Sum: 35

:

In [ ]:
# printing factor of N
n = 30
i = 1
while i <= n:
    if n%i == 0:
        print(i)
    i += 1

1
2
3
5
6
10
15
30

In [38]:
n = 30
i = 1
c = 0
while i <= n:
    if n%i == 0:
        print(i)
        c += 1
    i += 1
print("No of Factors:",c)

1
2
3
5
6
10
15
30
No of Factors: 8

In [40]:
n=30
i=2
c=0
while i<n:
    print(i)
    if(n%i==0):
        c+=1
        break
    i+=1

if(c==0):
    print("Prime")
else:
    print("Not Prime")

2
Not Prime

In [41]:
n = 2
while n <= 100:
    i = 2
    c = 0
    while i < n:
        if n%i == 0:
            c += 1
            break
        i += 1
    if c == 0:
        print(n)
    n += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97