Sets:-

unordered collection of unique items
Using sets:
we can test for membership
whether a set is a subset of another set
find intersection between two sets and so on
Can't be indexed

In [1]:
s = {1,2,3,4,"Hello",1,5,"Shubham",10}
print(s,type(s))

{1, 2, 3, 4, 5, 'Shubham', 10, 'Hello'} <class 'set'>

In [2]:
3 in s

True

In [3]:
30 in s

False

In [5]:
l = [1,2,3,5,2,3,1,6,3,4,2,7,6]
s = set(l)
s

{1, 2, 3, 4, 5, 6, 7}

In [6]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s1.add(10)
s1

{1, 2, 3, 4, 10}

In [8]:
l = []
s = set()
s #This creates an Empty Set

set()

In [9]:
s[0]

TypeError: 'set' object is not subscriptable

In [10]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 10}

In [11]:
s1.intersection(s2)

{3, 4}

In [12]:
s1

{1, 2, 3, 4, 10}

In [ ]:
s1.pop()
# pop() removes and returns an arbitrary element from the set.

# Since sets are unordered, you cannot predict which element will be removed.

1

In [14]:
s1

{2, 3, 4, 10}

In [15]:
s1.pop()
s1

{3, 4, 10}

In [16]:
s1.remove(10)

In [17]:
s1

{3, 4}

In [18]:
s1.remove(10)
s1

KeyError: 10

In [ ]:
s1.discard(10)

# s1.discard(10) removes the element 10 from the set if it exists.

# If 10 is not present, it does nothing — and does not raise an error (unlike remove()).

In [20]:
s2.difference(s1)

{5, 6}

In [ ]:
s2.symmetric_difference(s1)
# eturns a new set containing elements that are in either s2 or s1 but not in both — i.e., the symmetric difference.

{5, 6}

In [23]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [24]:
s1.issubset(s2)

False

In [25]:
s2.issuperset(s1)

False

In [26]:
s1.isdisjoint(s2)

False

In [27]:
len(s2)

4

In [28]:
for ele in s1:
    print(ele)

1
2
3
4

Dictionary:-

unordered collection of key:value pairs
mutable data structure
Heterogeneous
Immutable Keys
dict functions
traversal
Comprehension

In [30]:
d = {
    "India" : 1000,
    "USSR" : 150,
    "USA" : 100,
    1.1 : "one",
    2 : [1,2],
    "India" : 10000,
    (1,2,3) : "Tuple"
    # [1,2,3] : "List"
}

In [31]:
print(d,type(d))

{'India': 10000, 'USSR': 150, 'USA': 100, 1.1: 'one', 2: [1, 2], (1, 2, 3): 'Tuple'} <class 'dict'>

In [32]:
d["China"] = 100 #New key value pair
d

{'India': 10000,
 'USSR': 150,
 'USA': 100,
 1.1: 'one',
 2: [1, 2],
 (1, 2, 3): 'Tuple',
 'China': 100}

In [33]:
d["China"]

100

In [34]:
d[3]

KeyError: 3

In [ ]:
print(d.get("China",0))
# Look for the key "China" in the dictionary d.

# If "China" exists, return its corresponding value.

# If "China" does not exist, return the default value 0.

100

In [36]:
d.pop("China",0)

100

In [37]:
d

{'India': 10000,
 'USSR': 150,
 'USA': 100,
 1.1: 'one',
 2: [1, 2],
 (1, 2, 3): 'Tuple'}

In [ ]:
d.popitem()
# removes and returns the last inserted key-value pair from the dictionary d.

((1, 2, 3), 'Tuple')

In [39]:
d

{'India': 10000, 'USSR': 150, 'USA': 100, 1.1: 'one', 2: [1, 2]}

In [40]:
d.popitem()
d

{'India': 10000, 'USSR': 150, 'USA': 100, 1.1: 'one'}

In [41]:
del d['USA']
d

{'India': 10000, 'USSR': 150, 1.1: 'one'}

In [42]:
d.keys()

dict_keys(['India', 'USSR', 1.1])

In [43]:
d.values()

dict_values([10000, 150, 'one'])

In [44]:
d.items()

dict_items([('India', 10000), ('USSR', 150), (1.1, 'one')])

In [45]:
d1 = d.fromkeys([1,2,3,4],"Number")

In [46]:
d1

{1: 'Number', 2: 'Number', 3: 'Number', 4: 'Number'}

In [48]:
d.update(d1)
d

{'India': 10000,
 'USSR': 150,
 1.1: 'one',
 1: 'Number',
 2: 'Number',
 3: 'Number',
 4: 'Number'}

In [49]:
for k in d:
    print(k,d[k])

India 10000
USSR 150
1.1 one
1 Number
2 Number
3 Number
4 Number

In [50]:
for k,v in d.items():
    print(k,v)

India 10000
USSR 150
1.1 one
1 Number
2 Number
3 Number
4 Number

In [51]:
s = set()
for i in range(10):
    s.add(i)

In [52]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [53]:
s = {i for i in range(10)}
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [54]:
d = {}
for i in range(10):
    d[i] = i**2
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [55]:
d = {i : i**2 for i in range(10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [56]:
l = [1,2,3,1,4,1,2,4,5,2,3,1,2,3,4,6,8,6,5,6,66,64,31,22,4,1,2,31,66]
from collections import Counter

d = Counter(l)
print(d)

Counter({1: 5, 2: 5, 4: 4, 3: 3, 6: 3, 5: 2, 66: 2, 31: 2, 8: 1, 64: 1, 22: 1})

In [57]:
d = {}
for ele in l:
    # if ele in d:
    #     d[ele] += 1
    # else:
    #     d[ele] = 1

    d[ele] = d.get(ele,0)+1

print(d)

{1: 5, 2: 5, 3: 3, 4: 4, 5: 2, 6: 3, 8: 1, 66: 2, 64: 1, 31: 2, 22: 1}