Some String Operations:-


String formatting---
+
%s, %d
format functions
f-Strings
strip: Remove white spaces from the string
split
replace: replace all occurances in a string by a new one
count: count the number of occurances of a string within a string

In [1]:
st = "Hello"
st

'Hello'

In [2]:
l = list(st)
l

['H', 'e', 'l', 'l', 'o']

In [3]:
st[0],st[-1]

('H', 'o')

In [4]:
for ch in st:
    print(ch)

H
e
l
l
o

In [5]:
st[1:3]

'el'

In [6]:
s1 = "Hello"
s2 = 'Hello'

print(s1 is s2)

True

In [7]:
s1 = """ This
is a Multi
Line String
"""
print(s1)

 This
is a Multi
Line String

In [8]:
s1

' This\nis a Multi\nLine String\n'

This\nis a Multi\nLine String\n'

This is the string representation (repr) of s1.

\n represents newline characters inside the string.

The output includes the quotes and escape characters.

In [9]:
for i in range(0,len(st)):
    for j in range(i+1,len(st)+1):
        print(st[i:j])

H
He
Hel
Hell
Hello
e
el
ell
ello
l
ll
llo
l
lo
o

In [10]:
a = 'abc' + 'def'
print(a)

abcdef

In [11]:
name = "Shubham"
age = 27

print("My name is: " + name + ". My age is: " + str(age))
print("My name is: %s. My age is: %d"%(name,age))
print("My name is: {}. My age is: {}".format(name,age))
print(f"My name is: {name}. My age is: {age}")

My name is: Shubham. My age is: 27
My name is: Shubham. My age is: 27
My name is: Shubham. My age is: 27
My name is: Shubham. My age is: 27

In [12]:
print("My name is: {1}. My age is: {0}".format(name,age))

My name is: 27. My age is: Shubham

In [13]:
print("My name is: {n}. My age is: {a}".format(n = name,a = age))

My name is: Shubham. My age is: 27

In [14]:
s = "   The sky is Blue   "
print(s.strip())
print(s.lstrip())
print(s.rstrip())

The sky is Blue
The sky is Blue
   The sky is Blue

In [15]:
s = "heLlo"
s.capitalize()

'Hello'

In [ ]:
s.casefold()
# is used to convert a string to lowercase in a way that is more aggressive and Unicode-aware than .lower().

'hello'

In [17]:
s = "Hellllo"
s.count('ll')

2

In [18]:
s[0] = 'A'

TypeError: 'str' object does not support item assignment

In [19]:
s.find('llol')

-1

In [20]:
s.index('ll')

2

In [21]:
s = "The sky is Blue"
l = s.split(' ')
l

['The', 'sky', 'is', 'Blue']

In [22]:
s.title()

'The Sky Is Blue'

In [23]:
l = [str(i) for i in range(10)]

In [24]:
' '.join(s.split()[::-1])

'Blue is sky The'